<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>网站后台管理</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/sb-admin.css" rel="stylesheet">
    <link href="/font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
        table tr td,table tr th{
            vertical-align: middle !important;
    }
    .submit {
        margin-left: 20px;
    }
    </style>
</head>

<body>

    <div id="wrapper">
        <%- include ../nav.html %>
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">文章首页</h1>
                    </div>
                </div>
                 <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <tr>
                                <td colspan="6">
                                    <form action="/contents" method="get">
                                         <label>文章名：</label> 
                                         <input type="text" name="articlename" value="<%=query.articlename%>">
                                         <input type="submit" value="提交" class="submit btn btn-info btn-xs">
                                     </form>
                                </td>
                            </tr>
                            <tr>
                                <th>编号</th>
                                <th>文章名</th>
                                <th>分类</th>
                                <th>注册时间</th>
                                <th>最后修改时间</th>
                                <th>操作</th>
                            </tr>
                            <% contents.forEach(function(value,key) { %>
                                <tr>
                                    <td><%=value._id%></td>
                                    <td><%=value.articlename%></td>
                                    <td><%=value.type.typename%></td>
                                    <td><%=moment(value.createdAt).format('YYYY-MM-DD HH:mm:ss')%></td>
                                    <td><%=moment(value.updatedAt).format('YYYY-MM-DD HH:mm:ss')%></td>
                                    <td>
                                        <a href="/contents/update/<%=value._id%>" class="btn btn-warning btn-xs">修改</a>&nbsp;&nbsp;
                                        <a href="/contents/remove/<%=value._id%>" class="btn btn-danger btn-xs">删除</a>
                                    </td>
                                </tr>
                            <% }) %> 
                            <tr>
                                <td colspan="8">
                                    <nav>
                                        <ul class="pagination">
                                            <li>
                                                <a href="?<%=str%>page=<%=page.prevPage%>">
                                                    <span aria-hidden="true">&laquo;</span>
                                                </a>
                                            </li>
                                            <%for(var i = 1; i <= page.totalPage; i++) {%>
                                                <li class="<%= page.nowPage == i ? 'active' : '' %>"><a href="?<%=str%>page=<%=i%>"><%=i%></a></li>
                                            <% } %>
                                            <li>
                                                <a href="?<%=str%>page=<%=page.nextPage%>" aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </td>
                            </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>
